@CHARSET "ISO-8859-1";
body {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
	min-width: 380px;
}

header {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
	padding-top: 30px;
}

.main-nav {
	background-color: #078136;
	border-bottom: 1px solid #999;
	display: inline-block;
	min-width: 380px;
    white-space: nowrap;
    width: 100%;
}

.main-nav .main-nav-item {
	display: inline-block;
	padding: 10px 30px 10px 30px;
}

.main-nav .first-nav-item {
	margin-left: 40px;
}

.main-nav .main-nav-item a {
	color: white;
	font-weight: bold;
}

.main-nav .main-nav-item a:hover {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.active {
	border-bottom: 1px solid #eee;
	color: #eee;
}

.content {
	background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png") repeat scroll 0% 0% transparent;
	display: inline-block;
	padding: 10px;
}

.container {
	padding: 0;
}

.tile-title {
	margin-bottom: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left:6px;
	color: white;
	background-color: #089A3F;
}

.tiles {
	vertical-align: top;
}

.well {
	background-color: #FFFFFF;
	margin-bottom: 25px;
}

#twitter-feed ul {
	margin: 0px;
}

#twitter-feed ul li {
	list-style: none;
	list-style-type: none;
	padding-bottom: 4px;
}

#twitter-feed ul li p {
	margin: 0 0 2px 0;
	padding: 0;
}

#twitter-feed ul li a {
	margin-right: 15px;
}

.gap {
	margin-top: 1.5%;
}

h4.break {
	margin-top: 20px;
	margin-bottom: 10px;
}

#map_canvas {
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 500px;
}

.video-tile-width iframe {
	width: 380px; 
	height: 257.5px;
}

.mobile {
	display: none;
}

footer {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
    border-top: 1px solid #999;
	color: white;
    padding: 20px 0;
	text-align: center;
}