@CHARSET "ISO-8859-1";

header img {
	margin-left: 3px;
}

.main-nav {
	display: none;
}

.tiles {
	padding: 20px 10px 0px 10px;
	width: 100%;
}
 
.full-tile-width {
	width: 90%;
}

.larger-tile-width {
	width: 90%;
}

.smaller-tile-width {
	width: 90%;
}

.menu-tile-width {
	margin-bottom: 25px;
	width: 90%;
}

.menu-tile-width well ul{
	margin: 0;
	padding: 0;
}

.video-tile-width {
	margin-bottom: 25px;
}

.video-tile-width iframe {
	width: 320px; 
	height: 240px;
}

.desktop {
	display: none;
}

.mobile {
	display: block;
}

.mobile-nav {
	background-color: #078136;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
    white-space: nowrap;
    width: 100%;
}

.mobile-nav .mobile-nav-item {
	border-bottom: 1px solid #999;
	padding: 10px 10px 10px 10px;
	text-align: left;
}

.mobile-nav .mobile-nav-item a {
	color: white;
	display:block;
	font-weight: bold;
}

footer {
	padding: 0px 0px 20px 0px;
}

#map_canvas {
	height: 400px;
	margin: 20px 10px 20px 10px;
	width: 100%;
}
