@CHARSET "ISO-8859-1";

body {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
}

header {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
	border-bottom: 1px solid #999;
	padding-bottom: 20px;
	padding-top: 30px;
}

header img {
	margin-left: 3%;
}

.main-nav {
	background-color: #078136;
	border-bottom: 1px solid #999;
	display: inline-block;
    white-space: nowrap;
    width: 100%;
}

.main-nav .main-nav-item {
	display: inline-block;
	padding: 10px 30px 10px 30px;
}

.main-nav .main-nav-item a {
	color: white;
	font-weight: bold;
}

.main-nav .main-nav-item a:hover {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.main-nav .first-nav-item {
	margin-left: 4%;
}

.active {
	border-bottom: 1px solid #eee;
	color: #eee;
}

.active a {
	color: red;
	font-weight: bold;
}

.content {
	background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png") repeat scroll 0% 0% transparent;
	display: inline-block;
	padding: 10px;
	width: 100%;
}

#twitter-feed ul {
	margin: 0px;
}

#twitter-feed ul li {
	list-style: none;
	list-style-type: none;
	padding-bottom: 4px;
}

.tile-title {
	margin-bottom: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left:6px;
	color: white;
	background-color: #089A3F;
}

.tiles {
	display: inline-block;
	margin: 20px 10px 20px 1.5%;
	vertical-align: top;
}

.well {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.5);
}

.full-tile-width {
	width: 70%;
	min-width: 500px;
}

.larger-tile-width {
	width: 60%;
	min-width: 600px;
}

.smaller-tile-width {
	width: 300px;
}

.larger-tile-width {
	width: 760px;
}

.gap {
	margin-top: 1.5%;
}

#map_canvas {
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 500px;
}

footer {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/wild_oliva.png);
    border-top: 1px solid #999;
	color: white;
    padding: 20px 0;
	text-align: center;
}
