/* some browsers which do not recognise HTML5 elements treat
   them as inline elements. We want them to treat these as block elements */
header, section, footer, aside, nav, article, hgroup {
	display: block;	
}

/* deals with older browser issues */
body {
	text-align: center;
}

#wrapper {
	width: 1000px;
	margin: 20px auto;
	text-align: left;
}